@import "../../node_modules/bootstrap/scss/bootstrap";

$colors: (
	light-blue: #009fe3,
	lighten-blue: lighten(#009fe3, 45%),
	dark-blue: #2069aa,
	txt-col-light: #fff,
	txt-col-dark: #000
);

$section-mt: 50px;
$title-pb: 30px;

@function color($color-name){
	@return map-get($colors, $color-name)
}

@mixin breakpoint($point) {
  @if $point == mobile {
		@media (min-width: 320px) { @content; }
	}

	@else if $point == mobile-horizontal {
		@media (min-width: 480px) { @content; }
	}

	@else if $point == tablet {
		@media (min-width: 768px) { @content; }
	}

	@else if $point == tablet-horizontal {
		@media (min-width: 992px) { @content; }
	}
	
	@else if $point == desktop {
		@media (min-width: 1200px) { @content; }
	}
	
	@else if $point == desktop-hd {
		@media (min-width: 1300px) { @content; }
	}

	@else if $point == desktop-wide {
		@media (min-width: 1500px) { @content; }
	}
}

/*GLOBAL*/

html, body {height: 100%;}

body {
	margin: 0; 
	padding-top: 110px;
}

.services, .special, .mail-form, .gmaps, .pg-title{margin-top: $section-mt;}
.headline{
	padding-bottom: $title-pb;
	color: color(dark-blue);
	font-weight: 600;
}

.main-nav nav{
	background-color: #fff;

	ul li{padding: 10px 20px;}

	@include breakpoint(tablet-horizontal){
		ul li{padding: 5px 10px;}
	}

	.active{
		background-color: color(lighten-blue);
	}
}

.brand-logo{
	width: 250px;
	height: 90px;
	line-height: 90px;
	
	img {width: 100%;}
}

.main-cont{
	height: 100%;
	//opacity: 0;
}

.transition-fade {
    transition: .4s;
    opacity: 1;
}

.secondary-banner{
	height: 40%;
	background: url('../img/ordinacija_vidakovic_cover_bg.jpg') no-repeat;
	background-size: cover;
	background-position: 0 50%;
}

.page-footer{
	background-color: #009fe3;
	color: #fff;
	
	a {color: #fff;}

	a:hover{
		color: #fff;
		text-decoration:none;
	}

	i {font-size: 60px;}
}

/*HOME PAGE*/

.main-banner{
	background: url('../img/ordinacija_vidakovic_bg4.jpg') no-repeat fixed;
	background-size: cover;
	
	.banner-cont .banner-title{
		padding: 25px;
		box-sizing: border-box;
		background-color: rgba(0, 159, 227, 0.6);

		.jumbotrone{border-left: 2px solid #fff;}

		h1 {
			display:none;
			color: #fff;
			font-size: 2.4em;
			line-height: 1.5;
			padding-left: 20px;
			box-sizing: border-box;
		}
	}

	.banner-cont .banner-img{
		padding-top: 30px;
		background-color: rgba(255, 255, 255, 0.6);

		img {
			width: 80%;
		}
	}

	@include breakpoint(tablet){	

		.banner-cont .banner-title {
			
			h1 {font-size: 2.2em;}

			.jumbotrone{
				position:absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	@include breakpoint(tablet-horizontal){
		.banner-cont .banner-title .jumbotrone {padding: 15px;}
	}

	@include breakpoint(desktop){
		.banner-cont .banner-title{padding:0;}

		.banner-cont .banner-title {

			h1 {font-size: 2.8em;}
			
			.jumbotrone{
				right:0;		
				width: 560px;	
			}
		}

		.banner-cont .banner-img{
			padding-top: 150px;

			img {width: 60%;}
		}
	}
}

.card{
	border:none;

	.card-img-overlay{
		height: 40%;
		top:60%;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background: rgba(201, 238, 255, .95);

		h5{
			position: absolute;
			width: 80%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: color(dark-blue);
		}

		@include breakpoint(tablet){
			h5 {font-size:1.2em;}
		}
		
		@include breakpoint(desktop){
			h5 {font-size:1.6em;}
		}
	}

	@include breakpoint(desktop){
		.card-img-overlay{
			opacity: 0;
			transition: 0.75s;
			height: 100%;
			top:0;
			border-radius: 5px;
			background-color: none;
		}

		.card-img-overlay:hover{
			opacity:1;
			background: rgba(201, 238, 255, .8);
		}
	}
}

.special{
	background: color(dark-blue);
	padding-top: 40px;
	padding-bottom: 40px;
	box-sizing: border-box;

	h1, h5 {color: #fff;}

}

@include breakpoint(desktop){
	form {
		width: 800px;
		margin: 0 auto;
	}
}

.mail-form{
	button {width: 40%;} 

	.send-msg p:nth-child(1){
		display: none;
		color: green;
	}

	.send-msg p:nth-child(2){
		display:none;
		color: red;
	}
} 

.embed-responsive{height: 500px;}

/*ABOUT US*/

.about-content, .service-content{
	background: url('../img/about_content_bg.png') no-repeat;
	background-size: cover;
	background-position: 0 -20%;

	img {width: 100%;}
}

/*GALLERY*/


/*CONTACT*/

.contact-content{

	.info-content p:before{
		content: '';
		display: block;
		width: 20px;
		height: 20px;
    	float: left;
    	margin-top: 2px;
    	margin-right: 15px;
	}

	.info-content p:nth-child(1):before{
		background: url('../img/phone.png') no-repeat;
		background-size: cover;
	}

	.info-content p:nth-child(2):before{
		background: url('../img/envelope.png') no-repeat;
		background-size: cover;
	}

	.info-content p:nth-child(3):before{
		background: url('../img/home.png') no-repeat;
		background-size: cover;
	}

	button {width: 100%;}
	
	@include breakpoint(desktop){
		
		form {
			width: 550px;

			button {
				width: 30%;
				float: right;
			}
		}
	}	
}

.contact-directions{
	.col-md-4{
		color: #fff;
		padding-top: 40px;
		padding-bottom: 30px;
		box-sizing: border-box;
	}
	
	.col-md-4:nth-child(3){background-color: #2069aa;}
	.col-md-4:nth-child(2){background-color: #277ac5;}
	.col-md-4:nth-child(1){background-color: #2c8ce1;}

	@include breakpoint(tablet){
		.col-md-4{
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	@include breakpoint(desktop){

		.col-md-4{
			padding-left: 8vw;
			padding-right: 8vw;
		}
	}
}

/*SERVICE*/

.service-content {
	img {width: 100%;}
}